#@IgnoreInspection BashAddShebang

# Env
run --action_env=RESPOND_URL
run --action_env=PUBLIC_KEYS_BUCKET
run --action_env=GOOGLE_APPLICATION_CREDENTIALS_CONTENT64
run --action_env=GOOGLE_APPLICATION_CREDENTIALS
run --action_env=LISTEN_PORT
run --action_env=PUBLIC_KEYS_PATH
run --action_env=USE_LOCAL_FS

test --test_env=RESPOND_URL
test --test_env=PUBLIC_KEYS_BUCKET
test --test_env=GOOGLE_APPLICATION_CREDENTIALS_CONTENT64
test --test_env=GOOGLE_APPLICATION_CREDENTIALS
test --test_env=LISTEN_PORT
test --test_env=PUBLIC_KEYS_PATH
test --test_env=USE_LOCAL_FS

build --spawn_strategy=standalone
build --strategy=Javac=standalone
build --strategy=Closure=standalone
build --strategy=Genrule=standalone

# Options

common --color=yes

test --verbose_failures --test_output=all


##################################################
# Load any settings specific to the current user.
##################################################

# Needs to be last statement in this
# config, as the user configuration should be able to overwrite flags from this file.
# To use Remote Build Execution, this file should contain a line like
# build --google_credentials=[path to the .json credentials file]
try-import .bazelrc.user
